<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <nav id="common-navbar" class="navbar navbar-expand-sm justify-content-center fixed-bottom">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="../feed/index.html" class="text-white"><img src="../res/home.png" class="img-fluid"></a>
            </li>
            <li class="nav-item">
                <a href="../feed/search.html" class="text-white"><img src="../res/search.png" class="img-fluid"></a>
            </li>
            <li class="nav-item">
                <a href="../user/upload.html" class="text-white"><img src="../res/add.png" class="img-fluid"></a>
            </li>
            <li class="nav-item">
                <a href="../user/notifications.html" class="text-white"><img src="../res/bell.png" class="img-fluid"></a>
            </li>
            <li class="nav-item">
                <a href="../user/profile.html" class="text-white"><img src="../res/user.png" class="img-fluid"></a>
            </li>
        </ul>
    </nav>
</body>
</html>