<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <nav class="common-navbar navbar justify-content-center fixed-bottom">
        <ul class="nav">
            <li class="nav-item mx-3">
                <a href="../feed/index.html"><i class="bi bi-houses-fill fs-1 text-black"></i></a>
            </li>
            <li class="nav-item mx-3">
                <a href="../feed/search.html"><i class="bi bi-search fs-1 text-black"></i></a>
            </li>
            <li class="nav-item mx-3">
                <a href="../user/upload.html"><i class="bi bi-patch-plus-fill fs-1 text-black"></i></a>
            </li>
            <li class="nav-item mx-3">
                <a href="../user/notifications.html"><i class="bi bi-bell-fill fs-1 text-black"></i></a>
            </li>
            <li class="nav-item mx-3">
                <a href="../user/profile.html"><i class="bi bi-person-circle fs-1 text-black"></i></a>
            </li>
        </ul>
    </nav>
</body>
</html>