<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta tags -->
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- Page title -->
    <title>CardMania | Upload</title>
    <!-- Bootstrap links -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <!-- My css -->
    <link rel="stylesheet" href="../../view/css/style.css">
    <!-- My js -->
    <script src="../../controller/utility/icon.js"></script>
</head>
<body>
    <!-- Header -->
    <header class="text-white">
        <div class="row gx-0 py-2">
            <h1 class="col-8 ms-auto text-center">CardMania</h1>
            <div class="col-2 text-end pe-2">
                <button id="logout" class="btn btn-warning h-100">Logout</button>
            </div>
        </div>
    </header>
    
    <!-- Navbar -->
    <div class="nav-to-load"></div>
    
    <!-- Bootstrap funcs -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Jquery funcs -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <!-- Controllers -->
    <script src="../../controller/check/isLogged.js"></script>
    <script src="../../controller/auth/logout.js"></script>
</body>
</html>