header>h1 {
    background-color: black;
}
nav.navbar {
    background-color: #A50104;
}
ul.nav li {
    background-color: #A50104;
}

/*-------------------------*/
/*      Media Queries      */

@media (min-width: 576px) {
    header>h1 {
        background-color: #FCBA04;
    }
}