header {
    background: radial-gradient(farthest-side at 130% -30%, #144561, #860914);
}

body {
    background-color: #860914;
}

nav.navbar {
    background-color: #860914;
}

ul.nav li {
    background-color: #860914;
}

::-webkit-scrollbar {
    width: 0;
}

.pfpOver {
    translate: (-50%, -50%);
    transform: scale(1.6);
}

@media screen and (min-width: 768px) {

    body {
        background-color: #ffefef;
    }

}