<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta tags -->
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- Page title -->
    <title>CardMania | Search</title>
    <!-- Bootstrap links -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <!-- My css -->
    <link rel="stylesheet" href="../../view/css/style.css">
    <!-- My js -->
    <script src="../../controller/utility/icon.js"></script>
</head>
<body>
    <!-- Header -->
    <header class="row gx-0 text-center text-white bg-black">
        <div class="col"></div>
        <h1 class="col py-2">CardMania</h1>
        <button id="logout" class="btn col text-end text-white p-0 pe-1" type="button">Logout</button>
    </header>

    <!-- Container -->
    <div class="container">
    
        <!-- Search form -->
        <form class="dropdown col-6 mx-auto d-flex justify-content-center align-items-center mt-1" id="search-form">
            <input type="text" id="search-input" class="form-control col-4 dropdown-toggle" data-bs-toggle="dropdown" placeholder="Search users">
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Link 1</a></li>
                <!-- Caricare dinamicamente gli utenti con il rispettivo pulsante follow se si vuole -->
            </ul>
            <button type="submit" id="search-button" class="btn btn-primary col"><i class="bi bi-search"></i></button>
        </form>
    
        <!-- Posts card -->
        <div class="row mx-auto mt-1 d-flex justify-content-center align-items-center" id="posts-card">
            <div class="card col-xl-6 mx-auto">
                <div class="card-body">
                    <h5 class="card-title" id="posts-title">Posts by users</h5>
                    <!-- Post box -->
                    <div class="card bg-light mx-xl-auto col-xl" style="margin-bottom: 5rem;">
                        <div id="post-box" class="row gx-0 row-cols-3">
                            <!-- Caricare dinamicamente i post -->
                            <img src="../res/placeholder.jpg" alt="">
                            <img src="../res/placeholder.jpg" alt="">
                            <img src="../res/placeholder.jpg" alt="">
                            <img src="../res/placeholder.jpg" alt="">
                            <img src="../res/placeholder.jpg" alt="">
                            <img src="../res/placeholder.jpg" alt="">
                            <img src="../res/placeholder.jpg" alt="">
                            <img src="../res/placeholder.jpg" alt="">
                            <img src="../res/placeholder.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    </div>

    <!-- Navbar -->
    <div class="nav-to-load"></div>

    <!-- Bootstrap funcs -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Jquery funcs -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <!-- Controllers -->
    <script src="../../controller/check/isLogged.js"></script>
    <script src="../../controller/auth/logout.js"></script>
</body>
</html>